<fieldset class="divide-y divide-gray-200">
  <legend class="w-full text-2xl font-medium pt-1 pb-4 flex items-center gap-2">
    Accessories
    <%= link_to 'https://kamal-deploy.org/docs/configuration/accessories/', class: 'text-orange-600 hover:text-orange-90', target: '_blank' do %>
      <%= icon "arrow-top-right-on-square", class: "w-4 h-4" %>
    <% end %>
  </legend>

  <div class="space-y-4 py-6">
    <p class="text-sm leading-relaxed text-gray-500">
      Accessories are additional services your app depends on — like PostgreSQL, Redis, or Elasticsearch. Kamal will run each accessory in its own container, on the specified host, and manage them alongside your app. These containers are not exposed to the public; they’re meant to be accessed internally by your app. Accessories can have custom commands, environment variables, and volumes for data persistence.
    </p>

    <%= render 'postgres', f: %>
  </div>
</fieldset>

