<p class="block text-2xl font-medium text-gray-700 mt-3 mb-3">Builder</p> 

<div class="mb-4 pl-2">
  <%= f.label :arch, "Architecture:", class: "block font-medium text-gray-700" %>
  <%= f.select :arch, ["default", "amd64", "arm64"], {}, name: "builder[arch]", class: "bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" %>
</div>

<div class="mb-4 pl-2">
  <%= f.label :arch, "Remote:", class: "block font-medium text-gray-700" %>
  <%= f.text_field :builder_remote,
      name: "builder[remote]",
      placeholder: "ssh://root@100.100.100.100",
      class: "bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
  %>
</div>
