<h2 class="w-full border-b border-gray-200 text-2xl font-medium pt-1 pb-4">
  Your privacy matters
</h2>

<p class="text-sm leading-relaxed text-gray-500">
  We don’t store any of the data you enter. It’s only used to generate your config file and never touches a database.
</p>
