<div class="w-4/5 md:w-1/2 mx-auto my-10">
  <h1 class="text-3xl text-center font-bold mb-10">
    About Kamalify
  </h1>

  <div class="text-lg leading-relaxed text-gray-800 flex flex-col gap-5">
    <p>
      We love things that are simple, practical, and straightforward. That’s what Kamal is all about — and exactly what we want Kamalify to be.
    </p>

    <p>
      Kamal was built to make deployments easy, whether to the cloud or your own servers. It works just as well for a first-time deploy as it does when migrating infrastructure later on.
    </p>

    <p>
      Over the years, we’ve tried many deployment tools, but Kamal hits the sweet spot between simplicity and power. That’s what inspired us to build Kamalify.
    </p>

    <p>
      Kamalify takes that simplicity even further. <strong>It helps developers create a working Kamal config by just filling out a form</strong>. We know experienced devs might not need it — but if you're just starting out or want to set up a basic config quickly, it can save you time and headaches.
    </p>

    <p>
      Kamalify is <a href="#" class="cursor-pointer text-orange-600" targe="blank">open source</a>, so we can improve it together and build the best companion tool for configuring Kamal in our projects.
    </p>

    <p>
      Let's kamalify your app! 🚀
    </p>
  </div>
</div>
