<div data-controller="highlight">
  <pre><code class="language-yaml">
    database:
      adapter: postgresql
      encoding: unicode
      pool: 5
      username: user
      password: password
      host: localhost
  </code></pre>
</div>
