service: kamalify

image: unagi/kamalify

servers:
  web:
    - kamalify.unagisoftware.com

builder:
  arch: amd64
  remote: ssh://root@137.184.208.6

env:
  secret:
    - RAILS_MASTER_KEY

proxy:
  ssl: true
  hosts:
    - kamalify.com
    - www.kamalify.com

registry:
  server: registry.unagi.com.ar
  username: unagi
  password:
    - KAMAL_REGISTRY_PASSWORD

aliases:
  console: app exec --interactive --reuse "bin/rails console"
  shell: app exec --interactive --reuse "bash"
  logs: app logs -f
  dbc: app exec --interactive --reuse "bin/rails dbconsole"

asset_path: /rails/public/assets
