name: CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    env:
      RAILS_ENV: test
      CI: "true"

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.4.2

      - name: Setup
        run: |
          bin/setup
      - name: Run tests and checks
        run: |
          bin/ci

